.noMarginTop {
    margin-top: 0 !important;
}

.progress {
    margin-bottom: 0;
}

.progress-label {
    margin-right: 1em;
    float: left;
}

.reviewList {
    margin-bottom: 0;
}

.reviewList > .list-group-item {
    border: none;
}

.reviewList .list-group-item:not(:first-child) {
    border-top: 1px solid #ddd;
}

.reviewPanel .panel-heading {
    padding-top: 10px;
    padding-bottom: 7px;
}

.reviewPanel .panel-body {
    padding-bottom: 2px;
    padding-top: 10px;
}

.reviewPanel .panel-footer {
    border: none;
    background-color: inherit;
    text-align: right;
    font-size: 0.8em;
    padding-bottom: 5px;
    padding-top: 5px;
}

.content-divider {
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    line-height: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-divider:after {
    content: '';
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}

.content-divider-text {
    position: relative;
    background-color: #fff;
    z-index: 2;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: bottom;
    display: inline;
}

.mapFrame {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

#login-image {
    width: auto;
    max-width: 40px;
}

#login-menu {
    padding: 5px 5px 5px 5px;
}

#loginInfo {
    display: inline-block;
    vertical-align: bottom
}

#searchForm {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    border-top: none;
    border-bottom: none;
}

.topSpan {
    display: block;
    position: relative;
    top: 0;
}

.nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
}

.bottomSpan {
    display: block;
    position: relative;
    bottom: 0;
}

#carrello-a {
    font-size: 1.0em;
}

#carrello-a > .glyphicon {
    font-size: 1.0em;
}

.navbar-toggle {
    margin-left: 15px;
}

.imageCarousel {
    margin-bottom: 15px;
}

.rating {
    height: 2rem;
    line-height: 2rem;
    font-size: 1.75rem;
    unicode-bidi: bidi-override;
    direction: rtl;
    margin-top: -4px;
}

.rating:not(:checked) > input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.rating > label {
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    line-height: 1.2;
    color: #333;
}

.rating > label:before {
    font-weight: bold;
    content: '☆ ';
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    text-shadow: 0 0 3px #000;
    color: black;
}

.rating > input:checked ~ label:before {
    content: "\2605";
    color: #fcd116;
}

.rateCol {
    position: relative;
    text-align: left;
    height: 34px;
}

.rateCol > label {
    position: relative;
    top: 0;

    font-size: 1.15rem;
    margin-bottom: 0;
    height: 14px;
}

.rateCol > fieldset {
    position: relative;
    bottom: 0;

    height: 20px;
}

.panel-list > .list-group-item {
    padding: 0;
}

