#customAvatar:checked ~ #customAvatarImg {
    display: inline-block;
}

#customAvatar:not(checked) ~ #customAvatarImg {
    display: none;
}

.img-radio:checked ~ .img-check{
    visibility: visible;
}

.img-input {
    width: 3.5rem;
    height: 3.5rem;
}

.img-check {
    margin-left: -1.625rem;
    z-index: 1;
    border-radius: 50%;

    color: #00c217;
    background: white;

    position: absolute;

    margin-top: 0.125rem;

    width: 1.5rem;
    height: 1.484375rem;
    font-size: 1.5rem;

    visibility: hidden;
}
