.is-invalid ~ div.input-group-prepend > .input-group-text {
    border-color: #dc3545 !important;
}

.is-invalid ~ div.input-group-append > .input-group-text {
    border-color: #dc3545 !important;
}

.error-messages p{
    display: none;
    color: red;
    padding: .5rem;
    margin: 0;
}

.modal.modal-danger .modal-header {
    background: var(--danger);
    color: var(--white);
}

.modal.modal-danger .modal-content {
    border-color: var(--danger);
}

.form-error-alert {
    display: none;
}

