<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Session settings -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <!-- DB SETTINGS -->
    <context-param>
        <description>The url of the JDBC persistence system database position</description>
        <param-name>dburl</param-name>
        <param-value>jdbc:mysql://127.0.0.1:3306/mydb</param-value>
    </context-param>
    <context-param>
        <description>The user of the JDBC persistence system database position</description>
        <param-name>dbuser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <description>The password of $dbuser</description>
        <param-name>dbpwd</param-name>
        <param-value>passworddacambiare</param-value>
    </context-param>
     <context-param>
        <description>il dominio per link contenuto nel email</description>
        <param-name>domainForEmailLink</param-name>
        <param-value>http://localhost:8084</param-value>
    </context-param>

    <!--IMG FOLDERS SETTINGS-->
    <context-param>
        <description>Path of the folder where CategoryList images are stored</description>
        <param-name>categoryListImgsFolder</param-name>
        <param-value>img/categoryListImgs</param-value>
    </context-param>

    <context-param>
        <description>Path of the folder where CategoryProduct images are stored</description>
        <param-name>categoryProductImgsFolder</param-name>
        <param-value>img/categoryProductImgs</param-value>
    </context-param>

    <context-param>
        <description>Path of the folder where List images are stored</description>
        <param-name>listImgsFolder</param-name>
        <param-value>img/listImgs</param-value>
    </context-param>

    <context-param>
        <description>Path of the folder where Product images are stored</description>
        <param-name>productImgsFolder</param-name>
        <param-value>img/productImgs</param-value>
    </context-param>

    <context-param>
        <description>Path of the folder where avatars are stored</description>
        <param-name>avatarsFolder</param-name>
        <param-value>image/avatars</param-value>
    </context-param>

    <!-- SMTP SETTINGS -->
    <context-param>
        <description>Hostname of the SMTP server</description>
        <param-name>smtpHostname</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <description>Port of the SMTP server</description>
        <param-name>smtpPort</param-name>
        <param-value>465</param-value>
    </context-param>
    <context-param>
        <description>Username of the SMTP server</description>
        <param-name>smtpUsername</param-name>
        <param-value>registrazioneprogettowebprog@gmail.com</param-value>
    </context-param>
    <context-param>
        <description>Password of the SMTP server</description>
        <param-name>smtpPassword</param-name>
        <param-value>xeecaoS5tood3bee</param-value>
    </context-param>

    <!-- Constants -->
    <!-- quantià di item nelle varie pagine-->
    <context-param>
        <description>quantià categoria per slider</description>
        <param-name>quantityCatForSlider</param-name>
        <param-value>4</param-value>
    </context-param>
    <context-param>
        <description>quantià di item per home</description>
        <param-name>quantityItemForHome</param-name>
        <param-value>12</param-value>
    </context-param>
    <context-param>
        <description>quantià di item per categoria</description>
        <param-name>quantityItemForCategory</param-name>
        <param-value>9</param-value>
    </context-param>
    <context-param>
        <description>quantià di item per la ricerca</description>
        <param-name>quantityItemForSearch</param-name>
        <param-value>9</param-value>
    </context-param>

    <!-- pagina di index -->
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

    <!-- LISTENERS -->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.unitn.webprogramming18.dellmm.listeners.WebAppContextListener</listener-class>
    </listener>

    <!-- FILTERS -->
    <!-- Only unlogged user can pass -->
    <filter>
        <filter-name>UnloggedUserOnlyFilter</filter-name>
        <filter-class>it.unitn.webprogramming18.dellmm.filters.AlreadyLoggedUserOnlyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UnloggedUserOnlyFilter</filter-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/forgotPassword</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/resetPassword</url-pattern>
    </filter-mapping>

    <!-- Only logged users can pass -->
    <filter>
        <filter-name>LoggedUserOnlyFilter</filter-name>
        <filter-class>it.unitn.webprogramming18.dellmm.filters.LoggedUserOnlyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggedUserOnlyFilter</filter-name>

        <url-pattern>/loggedResetPassword</url-pattern>
        <url-pattern>/loggedResetPassword.json</url-pattern>

        <url-pattern>/modifyUser</url-pattern>
        <url-pattern>/modifyUser.json</url-pattern>

        <url-pattern>/resendEmail</url-pattern>

        <url-pattern>/alreadyLoggedIn</url-pattern>

        <url-pattern>/notifications</url-pattern>
        <url-pattern>/notifications.json</url-pattern>

        <url-pattern>/markNotification.json</url-pattern>

        <url-pattern>/mylists</url-pattern>
        <url-pattern>/mylist</url-pattern>
        <url-pattern>/updateList</url-pattern>
        <url-pattern>/updateProduct</url-pattern>
        <url-pattern>/service/updateItemInListService</url-pattern>
        <url-pattern>/service/updateListService</url-pattern>
        <url-pattern>/service/changeListService</url-pattern>
        <url-pattern>/service/commentService</url-pattern>
        <url-pattern>/service/sharingService</url-pattern>
        <url-pattern>/service/updateListService</url-pattern>
        <url-pattern>/service/updateProductService</url-pattern>
    </filter-mapping>


    <!-- Only admins can pass -->
    <filter>
        <filter-name>AdminUserOnlyFilter</filter-name>
        <filter-class>it.unitn.webprogramming18.dellmm.filters.AdminUserOnlyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminUserOnlyFilter</filter-name>

        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>FrontPagePrintListFilter</filter-name>
        <filter-class>it.unitn.webprogramming18.dellmm.filters.FrontPagePrintListFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FrontPagePrintListFilter</filter-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/category</url-pattern>
        <url-pattern>/search</url-pattern>
        <url-pattern>/updateProduct</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AutoLoginFilter</filter-name>
        <filter-class>it.unitn.webprogramming18.dellmm.filters.AutoLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutoLoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- SERVLETS -->

    <!-- SERVLETS OF PAGE _____________________________________________________________________________ -->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.front.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.front.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.front.CategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisplayListsServlet</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.front.DisplayListsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayListsServlet</servlet-name>
        <url-pattern>/mylists</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateListServlet</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.front.UpdateListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateListServlet</servlet-name>
        <url-pattern>/updateList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.front.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>

    <!-- SERVLETS OF SERVICE _____________________________________________________________________________ -->
    <servlet>
        <servlet-name>UpdateItemInListService</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.front.service.UpdateItemInListService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateItemInListService</servlet-name>
        <url-pattern>/service/updateItemInListService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateItemInListUnloggedUserOnlyService</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.front.service.UpdateItemInListUnloggedUserOnlyService
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateItemInListUnloggedUserOnlyService</servlet-name>
        <url-pattern>/service/updateItemInListUnloggedUserOnlyService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeListService</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.front.service.ChangeListService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeListService</servlet-name>
        <url-pattern>/service/changeListService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CommentService</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.front.service.CommentService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentService</servlet-name>
        <url-pattern>/service/commentService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SharingService</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.front.service.SharingService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SharingService</servlet-name>
        <url-pattern>/service/sharingService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateListService</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.front.service.UpdateListService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateListService</servlet-name>
        <url-pattern>/service/updateListService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateProductService</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.front.service.UpdateProductService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductService</servlet-name>
        <url-pattern>/service/updateProductService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckExistenceOfEmailService</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.service.CheckExistenceOfEmailService
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckExistenceOfEmailService</servlet-name>
        <url-pattern>/service/checkExistenceOfEmailService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisplaySpecificListServlet</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.front.DisplaySpecificListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplaySpecificListServlet</servlet-name>
        <url-pattern>/mylist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUpdateCategoryListServlet</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.another.AddUpdateCategoryListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUpdateCategoryListServlet</servlet-name>
        <url-pattern>/AddUpdateCategoryListServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUpdateCategoryProductServlet</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.another.AddUpdateCategoryProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUpdateCategoryProductServlet</servlet-name>
        <url-pattern>/AddUpdateCategoryProductServlet</url-pattern>
    </servlet-mapping>

    <!-- Da togliere ??
    <servlet>
        <servlet-name>PrepareAddUpdateListPageServlet</servlet-name>
        <servlet-class>it.unitn.webprogramming18.dellmm.servlets.PrepareAddUpdateListPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrepareAddUpdateListPageServlet</servlet-name>
        <url-pattern>/PrepareAddUpdateListPageServlet</url-pattern>
    </servlet-mapping>

        <servlet>
            <servlet-name>PrepareAddUpdateProductServlet</servlet-name>
            <servlet-class>it.unitn.webprogramming18.dellmm.servlets.PrepareAddUpdateProductPageServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>PrepareAddUpdateProductServlet</servlet-name>
            <url-pattern>/PrepareAddUpdateProductServlet</url-pattern>
        </servlet-mapping>
        -->

        <servlet>
                <servlet-name>UpgradeUserToAdminServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.adminSystem.UpgradeUserToAdminServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>UpgradeUserToAdminServlet</servlet-name>
                <url-pattern>/admin/upgradeUserToAdmin.json</url-pattern>
        </servlet-mapping>

        <!-- user system servlet -->
        <servlet>
                <servlet-name>ValidateUserServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.ValidateUserServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>ValidateUserServlet</servlet-name>
                <url-pattern>/validateUser</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>RegisterServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.RegisterServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>RegisterServlet</servlet-name>
                <url-pattern>/register</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>AlreadyLoggedInServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.AlreadyLoggedInServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>AlreadyLoggedInServlet</servlet-name>
                <url-pattern>/alreadyLoggedIn</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>NotificationsServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.another.NotificationsServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>NotificationsServlet</servlet-name>
                <url-pattern>/notifications</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>NotificationsServletJSON</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.another.JSONNotificationsServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>NotificationsServletJSON</servlet-name>
                <url-pattern>/notifications.json</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>JSONMarkNotificationServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.another.JSONMarkNotificationServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>JSONMarkNotificationServlet</servlet-name>
                <url-pattern>/markNotification.json</url-pattern>
        </servlet-mapping>


        <servlet>
                <servlet-name>UserValidateJS</servlet-name>
                <jsp-file>/WEB-INF/js/userValidateJS.jsp</jsp-file>
        </servlet>
        <servlet-mapping>
                <servlet-name>UserValidateJS</servlet-name>
                <url-pattern>/js/userValidate.js</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>UsersServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.adminSystem.UsersServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>UsersServlet</servlet-name>
                <url-pattern>/admin/users</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>JSONUserServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.adminSystem.JSONUsersServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>JSONUserServlet</servlet-name>
                <url-pattern>/admin/users.json</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>CategoryListsServlet</servlet-name>
                <jsp-file>/WEB-INF/jsp/admin/categoryLists.jsp</jsp-file>
        </servlet>
        <servlet-mapping>
                <servlet-name>CategoryListsServlet</servlet-name>
                <url-pattern>/admin/categoryLists</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>JSONCategoryListsServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.adminSystem.JSONCategoryListsServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>JSONCategoryListsServlet</servlet-name>
                <url-pattern>/admin/categoryLists.json</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>LoginServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.LoginServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>LoginServlet</servlet-name>
                <url-pattern>/login</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>LogoutServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.LogoutServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>LogoutServlet</servlet-name>
                <url-pattern>/logout</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>ForgotPasswordServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.ForgotPasswordServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>ForgotPasswordServlet</servlet-name>
                <url-pattern>/forgotPassword</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>ResetPasswordServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.ResetPasswordServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>ResetPasswordServlet</servlet-name>
                <url-pattern>/resetPassword</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>ResendEmailServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.ResendEmailServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>ResendEmailServlet</servlet-name>
                <url-pattern>/resendEmail</url-pattern>
        </servlet-mapping>


        <servlet>
                <servlet-name>ModifyUserServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.ModifyUserServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>ModifyUserServlet</servlet-name>
                <url-pattern>/modifyUser</url-pattern>
                <url-pattern>/modifyUser.json</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>LoggedResetPasswordServlet</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.LoggedResetPasswordServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>LoggedResetPasswordServlet</servlet-name>
                <url-pattern>/loggedResetPassword</url-pattern>
                <url-pattern>/loggedResetPassword.json</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>ResendEmailService</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.service.ResendEmailService</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>ResendEmailService</servlet-name>
                <url-pattern>/service/resendEmailService</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>ResetPasswordService</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.service.ResetPasswordService</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>ResetPasswordService</servlet-name>
                <url-pattern>/service/resetPasswordService</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>ActivateUserService</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.service.ActivateUserService</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>ActivateUserService</servlet-name>
                <url-pattern>/service/activateUserService</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>ForgotPasswordService</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.service.ForgotPasswordService</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>ForgotPasswordService</servlet-name>
                <url-pattern>/service/forgotPasswordService</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>LoginService</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.service.LoginService</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>LoginService</servlet-name>
                <url-pattern>/service/loginService</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>RegisterService</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.service.RegisterService</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>RegisterService</servlet-name>
                <url-pattern>/service/registerService</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>CheckUserService</servlet-name>
                <servlet-class>it.unitn.webprogramming18.dellmm.servlets.userSystem.service.CheckUserService</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>CheckUserService</servlet-name>
                <url-pattern>/service/checkUserService</url-pattern>
        </servlet-mapping>


        <!-- ERROR PAGE -->
        <error-page>
                <error-code>404</error-code>
                <location>/WEB-INF/jsp/error/404.jsp</location>
        </error-page>
        <error-page>
                <location>/WEB-INF/errorPage.jsp</location>
        </error-page>
</web-app>
